<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./guild.css">
  <link rel="stylesheet" href="./toggle-switchy.css">
  
</head>
<body>
  
  <!-- Nouvel utilisateur : -->
  <div class="categorie<%=">
    
  </div>
</body>
</html>