<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tutoriel</title>
  </head>
  <body>
    <h1>Tutoriel HTML / CSS</h1>
    <p>Sommaire :</p>
    <ul>
      <a href="#listes">Les listes</a>
      <a href="#mail">Envoyer un mail</a>
    </ul>
    <p>
      Voici un super paragraphe <br />Je sens que je vais me faire chier en SNI
      l'an prochains
    </p>

    <pre>
      Tout ce fait automatiquement
        Même si je retourne à la ligne 
        ou que je fais une tabulation :-)

      Mais c'est pas ouf en vrai
    </pre>

    <p>
      <strong> Une partie très importante </strong>
      <em>Une partie importante</em>
    </p>

    <!-- On va s'attaquer aux listes...
    Listes ordonnées ou non ordonnées ? -->

    <!-- 1 - Liste non ordonnée =
    liste qui n'a pas de hiérarchie ou d'ordre logique : -->

    <h1 id="listes">Les listes :</h1>
    <p><hr>On va s'attaquer aux listes. <br>
    Il faut savoir qu'il y a les listes ordonnés ou non ordonnées. <br>Les listes non ordonées n'ont pas de hiérarchie ou d'ordre logique. Il y a également des puces <hr>Voici un exemple de liste non ordonnée :</p>

    <ul>
      <li>First</li>
      <li>Second</li>
      <li>Third</li>
    </ul>

    <p><hr>Maintenant les listes ordonnées (qui ont besoin d'un ordre) : <br>par exmple pour un sommaire</p>

    <ol type="I">
      <li>First</li>
      <li>Second</li>
      <li>Third</li>
      <li>Accueil</li>
      <li>Premium</li>
      <li>Votre compte</li>
    </ol>

    <p><hr>Maintenant, liste de définitions pour foutre des définitions ou des termes</p>
    <dl> <!-- La liste -->
      <dt>HTML</dt> <!-- Le terme -->
      <dd>HTML signifie HyperText Makup Language</dd>
    </dl>

    <p><hr>Enfin, les listes imbriquées = une liste dans une autre :</p>
    <ol>
      <li>partie 1</li>
      <li>part 2</li>
      <li>Part 3</li>
      <li>
        <ul>
          <li>Une</li>
          <li>Nouvelle</li>
          <li>Liste</li>
          <li>dans</li>
          <li>une</li>
          <li>autre</li>
        </ul>
      </li>
    </ol>

    <h1 id="mail">Les mails :</h1>
    <p>M'envoyer <a href="mailto:axel.roget@gmail.com">un mail</a>
    </p>


    <h1 id="download">Télécharger un fichier :</h1>
    <p>Vous pouvez ici <a href="replaymod-1.16.1-2.4.0.jar">télécharger un fichier</a></p>
  </body>
</html>
